<div class="container">
  <h2> Context </h2>
  <p>
    The aim of this study is to compare the performance of an automated diagnostic algorithm with that obtained by
    experts with different backgrounds.
    The algorithm is trained to predict whether a patient should be referred to a doctor because of stage 2 or higher
    glaucoma from a fundus image.
  </p>


  <h2> Survey conducted </h2>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur quidem quia fuga molestias itaque. Explicabo,
    ex? Quae sint aperiam praesentium quo tempore sapiente fugiat alias commodi, aspernatur id laborum repellat.
  </p>
  <h2> Data </h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ipsa id veniam modi itaque et sunt, quibusdam non
    magnam tempora, vel quis! Similique, consequatur repudiandae delectus consequuntur corporis quia sed.
  </p>
  <button mat-raised-button color="accent" class='connect' routerLink="login"> Connect </button>

</div>
